{% extends 'bootstrap/base.html' %}

{% block title %}
    Quake III Arena Server Manager
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="/">
            Home
        </a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3">Welcome to Quake III Server</h1>
        </header>
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}