{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/section.css') }}">
{% endblock %}
{% block app_content %}
    <form action="{{ section }}" method="POST">
        <div class="row text-center">
            Optional Commands
        </div>
        {{ form.hidden_tag() }}
        {{ form.commands.hidden_tag() }}
        {% for field in form.commands %}
            <div class="form-group">
                {% if field.widget.input_type != 'hidden' %} {{ field.label }}{% endif %}
                {{ field }}
                <small class="form-text text-muted">{{ field.description }}</small>
            </div>
        {% endfor %}
        {% for error in (form.map.errors if form.map else []) %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn btn-primary btn-danger") }}
        <hr>
        <div class="row text-center map-container">
            {% for map in form.map %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <label>
                        {{ map }}
                        <div class="card">
                            <img class="card-img-top"
                                 src="{{ url_for('static',filename='images/' + map.label.text.upper() + '.jpg') }}"
                                 alt="">
                            <div class="card-body">
                                <h4 class="card-text">{{ map.label.text }}</h4>
                            </div>
                        </div>
                    </label>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}